<style>
	#nav {
		padding: 0 50px 0 40px;
	}
</style>

<nav class="navbar navbar-fixed-top">
	<container class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#nav">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="nav">
			<ul class="nav navbar-nav">
				<%= link_to 'Home |', welcome_Home_path%>
				<%= link_to ' Contact Us |', welcome_Contact_path%>
				<%= link_to ' About Us', welcome_About_path%>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			 <% if current_user %>
			 	<%= link_to 'Upload Photo |', new_post_path %>
			    <%= link_to ' Sign Out', destroy_user_session_path, method: :delete %>
			 <% else %>
				<%= link_to 'Sign In', new_user_session_path %>
				<%= link_to 'Register', new_user_registration_path %>
			 <% end %>
			</ul>
		</div>
	</container>
</nav>
